@model ApplicationCore.Models.UserDetailsModel

<ul class="list-group list-group-flush">
	<li class="list-group-item">
		First Name
		<span class="badge bg-dark">@Model.FirstName</span>
	</li>
	<li class="list-group-item">
		Last Name
		<span class="badge bg-dark">@Model.LastName</span>
	</li>
	<li class="list-group-item">
		Date of Birth
		<span class="badge bg-dark">@Model.DateOfBirth</span>
	</li>
	<li class="list-group-item">
		Email
		<span class="badge bg-dark">@Model.Email</span>
	</li>
	<li class="list-group-item">
		Phone Number
		<span class="badge bg-dark">@Model.PhoneNumber</span>
	</li>
</ul>